.logo{
    width: 40px;
    margin-right: 5px;
}
.navbar-brand{
    font-size: 20px;
    text-transform: uppercase;
}

li a.nav-link{
    margin-left:50px;
    text-transform: uppercase;
}

.btn{
    color: #8100F4;
    border-color: #8100F4;
    background-color: white;
}

.btn:hover{
    background-color: #8100F4;
    border-color: white;
}

.carousel{
    margin-top: 60px;
}
.title-page{
    margin-top: 55px;
    margin-bottom: 15px;
}

.img-backg{
    width: 80%;
}

.text-justify >p{
    margin-top: 20px;
}
footer nav a{
    color: black;
}

footer{
    margin-top: 50px;
    border-top:1px solid #8100F4;
    padding-top:10px;
}


.fil {
    color:#8100F4;
}

.fab{
    margin-right: 5px;
}

