/* CSS NAVBAR*/
.logo{
    width: 40px;
    margin-right: 5px;
}

.navbar-brand{
    font-size: 25px;
}
#navbarSupportedContent{
    margin-left: 40px;
    font-size: 25px;
}
<<<<<<< HEAD:style.css
=======

.navbar a, h1{
    font-family: 'Amaranth', sans-serif;
}

>>>>>>> malou:article.css
li a.nav-link{
    margin-left:50px; 
}

.btn{
    color: #8100F4;
    border-color: #8100F4;
}

.btn:hover{
    background-color: #8100F4;
    border-color: white;
}
/* END CSS NAVBAR*/

<<<<<<< HEAD:style.css
footer nav a{
    color: black;
=======

/* BREADCRUMB CSS*/
.fil {
    color:#8100F4;
}
/* END CSS BREADCRUMB*/


/* CSS CONTENT*/
.title-page{
    margin-top: 55px;
    margin-bottom: 25px;
>>>>>>> malou:article.css
}

.text-justify >p{
    margin-top: 20px;
}
<<<<<<< HEAD:style.css
/* Style page aboutus */
.card-deck.us{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:10px;
}
.card-footer.us{
    text-align: right;
}
.team{
    margin-top: 50px;
}
/* Fin style page aboutus */
=======

h3{
    font-family: 'Amaranth', sans-serif;
}

.border-source{
    background-color: #E8EBEF;
    padding:5px 0 5px 5px;
}

.border-source a{
    color: #8100F4;
}
/* END CSS CONTENT*/

/* CSS FOOTER*/
footer nav a{
    color: black;
}

footer{
    margin-top: 50px;
    border-top:1px solid #8100F4;
    padding-top:10px;
}

.fab{
    margin-right: 5px;
}

/* END CSS FOOTER*/

>>>>>>> malou:article.css
