/* NAVBAR */

.logo{
    width: 40px;
    margin-right: 5px;
}
.navbar-brand{
    font-size: 20px;
    text-transform: uppercase;
}

li a.nav-link{
    margin-left:50px;
    text-transform: uppercase;
}



.btn{
    color: #8100F4;
    border-color: #8100F4;
    background-color: white;
}

.btn:hover{
    background-color: #8100F4;
    border-color: white;
}

/* BREADCRUMB */

.fil {
    color:#8100F4;
}

/* CONTENU PAGE CONTACTEZ-NOUS */

h1{
    font-family: 'Amaranth', sans-serif;
}

.titre-page{
    margin-top: 15px;
    margin-bottom: 15px;
}

form{
    margin-top:40px;
}

.contactezns{
    margin-top: 30px;
}

input[type="email"]::-webkit-input-placeholder
{
    color: #D3D3D3;
}

input[type="name"]::-webkit-input-placeholder
{
    color: #D3D3D3;
}

input[type="text"]::-webkit-input-placeholder
{
    color: #D3D3D3;
}

/* FOOTER*/

footer nav a{
    color: black;
}

footer{
    margin-top: 50px;
    border-top:1px solid #8100F4;
    padding-top:10px;
}

.fab{
    margin-right: 5px;
}




