/* What's webAssembly page */
.summary_wwa{
    display: block;
}
.bigdaddy_wwa{
    box-sizing: border-box;
    padding-left: 20%;
    max-width: 80%;
}
.container_wwa_p1{
    box-sizing: border-box;
}
.container_wwa_p2{
    box-sizing: border-box;
}
p{
    display: flex;
    border: 1px black solid;
    text-indent: 15px;
    
}
ul{
    display: block;
    list-style-type: disc;
    border: 1px black solid;
    max-width: 50%;
}
ol{
    display: block;
    border: 1px black solid;
    max-width: 50%;
}
